.bell {
  padding: .75*$r;
  border-radius: 2*$r;
  background: linear-gradient(darken($color-blue, 25%), darken($color-blue, 20%));
  box-shadow: 0px 1px lighten($color-blue, 7%);

  &:before {
    color: white;
    font-size: 1.25*$r;
  }

  &.new-message {
    animation: 1s jingle-bells 1s 5 alternate;
  }

  &.selected {
    background: radial-gradient($color-white, lighten($color-blue, 40%));
    box-shadow: 0px -1px darken($color-blue, 10%);
    &::before {
      color: $color-blue;
    }
  }

}

@keyframes jingle-bells {
  0% {
      transform: rotate(-12deg);
  }
  10% {
      transform: rotate(12deg);
  }
  20% {
      transform: rotate(-12deg);
  }
  30% {
      transform: rotate(12deg);
  }
  40% {
      transform: rotate(-12deg);
  }
  50% {
      transform: rotate(0deg);
  }
}
