.bell-label {
  background: $color-red;
  height: 1.5*$r;
  width: 1.5*$r;
  border-radius: 1.5*$r;
  color: $color-white;
  position: absolute;
  text-align: center;
  right: .33*$r;
  top: .5*$r;
  z-index: 10;
  font-size: $r;
  opacity: 0;

  &.new-message {
    animation: 1s scale-up 2s forwards;
  }
}

@keyframes scale-up {
  0% {
    opacity: 0;
    transform: scale(.8);
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
