@import 'variables';

body {
  background: $color-gray !important; // TODO Dirty-dirty-dirty-dirt-dirt.
}

.notification-center {
  font-size: 24px;

  .fa.fa-bell {
    position: absolute;
    right: 0;
    margin: $r;
    color: $bell-color;

    &:hover {
      cursor: pointer;
    }
  }

  .notification-dropdown {
    width: 370px;
    position: absolute;
    right: 17px;
    top: 70px;
    color: #3f3f3f;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    border: 1px solid #a8a8a8;

    .arrow-up {
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid white;
      position: absolute;
      right: 11px;
      top: -10px;
    }

    ul {
      padding: 0;
      font-size: 16px;
      margin: 0;
      height: 280px;
      overflow-y: scroll;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;

      li {
        list-style: none;
        padding: 10px 10px;
        height: 70px;
        width: 100%;
        border-bottom: 0.5px solid #E2E1E1;
        background-color: white;

        .leftDiv {
          color: #3d7dbd;
          margin-top: 8px;
          float: left;
        }

        .hideDiv {
          visibility: hidden;
        }

        .rightDiv {
          width: 90%;
          float: right;
        }

        .header {
          clear: both;
        }

        p {
          margin: 0;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          &.notification-group {
            float: right;
            font-size: 11px;
            font-family: citrixsans-regular;
            margin-right: 5px;
            padding: 3px 8px;
            color: white;
            font-weight: 600;
            border-radius: 3px;
            margin-top: 5px;

            &.new-feature {
              background-color: $warning-color;
            }

            &.outage {
              background-color: $warning-color;
            }

            &.bug-fix {
              background-color: $warning-color;
            }

            &.terms-and-condition {
              background-color: $info-color;
            }

            &.other {
              background-color: $positive-color;
            }

            &.world-domination {
              background-color: $promo-color;
            }
          }

          &.notification-time {
            float: left;
            font-size: 11px;
            font-family: citrixsans-regular;
            color:gray;
          }

          &.notification-item {
            width: 100%;
            font-family: citrixsans-regular;
            padding-top: 9px;

            span.fa {
              font-size: 20px;
              vertical-align: baseline;
            }
          }
        }
      }
    }
  }

  button {
    width: 100%;
    color: #3d7dbd;
    text-align: center;
    border: none;
    font-size: 14px;
    font-family: citrixsans-semibold;
    background-color: #fff;
    outline: none;
    padding: 8px 0 12px 0;
    height: 36px;
    box-shadow: 0 4px 10px transparent;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}
