.topbar {
  height: 5*$r;
  background: linear-gradient($color_blue, darken($color-blue, 5%));
  border-bottom: 1px solid darken($color-blue, 15%);

  .logotype {
    margin-top: 1.5*$r;
    margin-left: 1.33*$r;
  }

  &.gotomeeting {
    background: linear-gradient($gotomeeting-color, darken($gotomeeting-color, 5%));
    border-bottom: 1px solid darken($gotomeeting-color, 15%);

    .bell {
      background: linear-gradient(darken($gotomeeting-color, 25%), darken($gotomeeting-color, 20%));
      box-shadow: 0px 1px lighten($gotomeeting-color, 7%);

      &.selected {
        background: radial-gradient($color-white, lighten($gotomeeting-color, 40%));
        box-shadow: 0px -1px darken($gotomeeting-color, 10%);
        &::before {
          color: $gotomeeting-color;
        }
      }
    }
  }

  &.gotoassist {
    background: linear-gradient($gotoassist-color, darken($gotoassist-color, 5%));
    border-bottom: 1px solid darken($gotoassist-color, 15%);

    .bell {
      background: linear-gradient(darken($gotoassist-color, 25%), darken($gotoassist-color, 20%));
      box-shadow: 0px 1px lighten($gotoassist-color, 7%);

      &.selected {
        background: radial-gradient($color-white, lighten($gotoassist-color, 40%));
        box-shadow: 0px -1px darken($gotoassist-color, 10%);
        &::before {
          color: $gotoassist-color;
        }
      }
    }
  }

  &.gotowebinar {
    background: linear-gradient($gotowebinar-color, darken($gotowebinar-color, 5%));
    border-bottom: 1px solid darken($gotowebinar-color, 15%);

    .bell {
      background: linear-gradient(darken($gotowebinar-color, 25%), darken($gotowebinar-color, 20%));
      box-shadow: 0px 1px lighten($gotowebinar-color, 7%);

      &.selected {
        background: radial-gradient($color-white, lighten($gotowebinar-color, 40%));
        box-shadow: 0px -1px darken($gotowebinar-color, 10%);
        &::before {
          color: $gotowebinar-color;
        }
      }
    }
  }

  &.gototraining {
    background: linear-gradient($gototraining-color, darken($gototraining-color, 5%));
    border-bottom: 1px solid darken($gototraining-color, 15%);

    .bell {
      background: linear-gradient(darken($gototraining-color, 25%), darken($gototraining-color, 20%));
      box-shadow: 0px 1px lighten($gototraining-color, 7%);

      &.selected {
        background: radial-gradient($color-white, lighten($gototraining-color, 40%));
        box-shadow: 0px -1px darken($gototraining-color, 10%);
        &::before {
          color: $gototraining-color;
        }
      }
    }
  }
}
