$r: 16px;

$bell-color: #3d7dbd;
$dropdown-shadow-color: #eee;
$button-background-color: #e5e5e5;

$positive-color: #5F9EA0;
$positive-color-light: #e5f2e5;

$warning-color: #B22222;
$warning-color-light: #ffe5e5;

$info-color: #cccc00;
$info-color-light: #ffffe5;

$promo-color: #3d7dbd;
$promo-color-light: #e5e5ff;

$color-gray: #f2f2f2;
$color-white: #fff;
$color-blue: $bell-color;
$color-red: $warning-color;
$color-green: $positive-color;
